/* styleGameOver.css
Description: Makes the screens at the end of game look nice
Inputs: 
Outputs: 
Sources: w3schools.com
Authors: Katie Golder
Creation date: 9-11-24
-->*/
body{
background-color: lightblue;
border: 5px solid rgb(145, 0, 0);
}

h1{
    font-family: "Copperplate", fantasy, serif;
    text-align: center;
  }
p{
    font-family: "Couier New", Monospace;
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  }
button { /*template from w3schools.com edited for our style*/
    background-color: #005637;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }