/* styleGameOver.css
Description: Makes the screens at the end of game look nice
Inputs: 
Outputs: 
Sources: w3schools.com
Authors: Katie Golder
Creation date: 9-11-24
-->*/
body{
background-color: lightblue;
}

h1{
    font-family: "Copperplate", fantasy, serif;
    text-align: center;
  }
p{
    font-family: "Couier New", Monospace;
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  }